/*
WDI Yearbook

Width: 940px

Fonts & Type Size:
  h1: Blackout Midnight 64px
  subtitles: Euphemia UCAS Italic 22.5px
  text: Euphemia UCAS 19px

  navbar: 20px
  about heading: blackout 23px
  about description: 16px
  student names: 36px
  biog text:14.66px
  personal website: 14.66px italic
  project descriptions: 18px italic, names all caps no italic
  instructor names: blackout 20px
  instructor biogs: undecided based on how much info they supply

Colors:
  yellow #f7e753
  green #36a288
  red #f24738

Spacing:
  Headshots are separated 50px in between
  Sections are separated by 125px
*/

@font-face {
    font-family: 'blackoutmidnight';
    src: url('font/blackout-midnight-webfont.eot');
    src: url('font/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/blackout-midnight-webfont.woff') format('woff'),
         url('font/blackout-midnight-webfont.ttf') format('truetype'),
         url('font/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euphemia_ucasregular';
    src: url('font/euphemia_ucas_regular_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_regular_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.svg#euphemia_ucasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euphemia_ucasbold';
    src: url('font/euphemia_ucas_bold_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_bold_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.svg#euphemia_ucasbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euphemia_ucasitalic';
    src: url('font/euphemia_ucas_italic_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_italic_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.svg#euphemia_ucasitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*************
* Section specific formatting *
*************/

body {
    font-family: 'euphemia_ucasregular', sans-serif;
}

#page {
    /*max-width: 58.750em;*/
    margin: auto;
}

#students {
  max-width: 51.25em;
}

#blurb {
  max-width:41.25em;
  margin:auto;
}

#content {
  max-width: 51.25em;
  margin:auto;
}



/*************
* TYPOGRAPHY *
*************/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

h1 {
    font-size: 3.8em;
    font-family: 'blackoutmidnight', sans-serif;
    text-align: center;
    color: #36a288;
    margin-bottom: 0;
    line-height: 1.2;
}

h2#subtitle {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'euphemia_ucasitalic',  sans-serif;
    text-align: center;
    color: #f24738;
    margin-bottom: 0.65em;
}

h3 {
  font-family: 'blackoutmidnight', sans-serif;
  font-size: 1.25em;
}

h4{
  font-family: 'euphemia_ucasregular', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#header_title h1 {
    color: white;
}
#header_title h2,
#header_title h3 {
    color: white;
    font-family: 'euphemia_ucasregular', sans-serif;
}

#header_title h2{
  margin-bottom: 0;
}

p {
    font-size: 0.875em;
}

/*************
* HEADER and NAVBAR  *
*************/

#header_title {
    background-color: #f7e753;
}

.full_width {
  width: 100% !important;
}

#navbar {
  background-color: #36a288;
  width: 100%;
}

#navbar_in {
  margin:0.625em 0px 0.625em  0px;
  padding: 0.625em;
}

#navbar_in li {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  float: right;
  padding: 0px 0.55em 0px 0.4em;
  background-color: #36a288;
  color: white;
}

.title {
  margin:auto;
  padding-top: 8em;
}


/*************
* TECH sections *
*************/

.tech_set {
  float:left;
  padding-top: 3.2em;
}
.tech_block {
    width: 10em;
    margin-right: 3.75em;
    float: left;
}

.tech_block img {
  margin:auto;
  display: block;
  padding-bottom: 1.56em;
}

.tech_block h3{
  margin: 0 auto;
}

/* zero right margin for right most tech_block*/
.tech_set:last-child .tech_block:last-child {
    margin-right: 0em;
}

/* zero right margin for 2nd tech_block
because the screen is narrow*/

@media all and (max-width: 450px) {
.tech_block:last-child {
    margin-right: 0em;
}
}

/*************
* Students sections *
*************/


.row div {
  float: left;
}

.row img {
}

.profile h1 {
  font-size: 2em;
}

h1.right {
  text-align: right;
}

h1.left {
  text-align: left;
}

.profile-row {
  width:100%;
}

.profile {
  position: relative;
  display: none;
  float: left;
  background: white;
  padding-bottom: 20px;
  border-width:5px;
  border-color:  #f7e753;
  margin: 10px;
  width:50em;
}

.portrait {
  background-color: #f7e753;
  padding: 20px;
  margin: 10px;
}

a.personal_website {
  text-decoration: none;
  color: #f24738;
}
a.personal_website:hover{
  text-decoration: underline;
  color: #f24738;
}

/*************
* PROJECTS section *
*************/

#featured_projects_title{
  float: left;
  width: 100%;
  padding-top: 8em;
}


#project_description{
  font-style: italic;
}

.project_block {
  display: inline-block;
  width: 16em;
  padding-right: 1.3em;
  float: left;
}

.project_block_last {
  display: inline-block;
  width: 16em;
  margin-right: 0;
  float: left;
}

img.project_image {
  max-width: 16em;
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: white;
  text-align: center;
  box-shadow: 2px 2px 5px 1px #BABAB6;
}
