/*
WDI Yearbook

Width: 940px

Fonts & Type Size:
  h1: Blackout Midnight 64px
  subtitles: Euphemia UCAS Italic 22.5px
  text: Euphemia UCAS 19px

  navbar: 20px
  about heading: blackout 23px
  about description: 16px
  student names: 36px
  biog text:14.66px
  personal website: 14.66px italic
  project descriptions: 18px italic, names all caps no italic
  instructor names: blackout 20px
  instructor biogs: undecided based on how much info they supply

Colors:
  yellow #f7e753
  green #36a288
  red #f24738

Spacing:
  Headshots are separated 50px in between
  Sections are separated by 125px
*/

@font-face {
    font-family: 'blackoutmidnight';
    src: url('font/blackout-midnight-webfont.eot');
    src: url('font/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/blackout-midnight-webfont.woff') format('woff'),
         url('font/blackout-midnight-webfont.ttf') format('truetype'),
         url('font/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'euphemia_ucasregular';
    src: url('font/euphemia_ucas_regular_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_regular_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_regular_2.6.6-webfont.svg#euphemia_ucasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euphemia_ucasbold';
    src: url('font/euphemia_ucas_bold_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_bold_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_bold_2.6.6-webfont.svg#euphemia_ucasbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euphemia_ucasitalic';
    src: url('font/euphemia_ucas_italic_2.6.6-webfont.eot');
    src: url('font/euphemia_ucas_italic_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.woff') format('woff'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.ttf') format('truetype'),
         url('font/euphemia_ucas_italic_2.6.6-webfont.svg#euphemia_ucasitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*************
* Section specific formatting *
*************/

body {
    font-family: 'euphemia_ucasregular', sans-serif;
}

#page {
    /*max-width: 58.750em;*/
    margin: auto;
}

#students {
  max-width: 51.25em;
}

#blurb {
  max-width:41.25em;
  margin:auto;
}

#content {
  max-width: 51.25em;
  margin:auto;
}



/*************
* TYPOGRAPHY *
*************/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}



h1 {
    font-size: 3.8em;
    font-family: 'blackoutmidnight', sans-serif;
    text-align: center;
    color: #36a288;
    margin-bottom: 0;
    line-height: 1.2;
}

h2#subtitle {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'euphemia_ucasitalic',  sans-serif;
    text-align: center;
    color: #f24738;
    margin-bottom: 0.65em;
}

h3 {
  font-family: 'blackoutmidnight', sans-serif;
  font-size: 1.25em;
}

h4{
  font-family: 'euphemia_ucasregular', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#header_title h1 {
    color: white;
}
#header_title h2,
#header_title h3 {
    color: white;
    font-family: 'euphemia_ucasregular', sans-serif;
}

#header_title h2{
  margin-bottom: 0;
}

p {
    font-size: 0.875em;
    margin-bottom: 3em;
}

/*************
* HEADER and NAVBAR  *
*************/

#header_title {
    background-color: #f7e753;
}

.full_width {
  width: 100% !important;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#navbar {
  background-color: #36a288;
}

#navbar_in {
  padding: 0.625em;
  margin: 0;
}

#navbar_in a{
  color: white;
  text-decoration: none;
  font-weight: bold
}

#navbar_in a:hover{
  text-decoration: underline;
}

#navbar_in li {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  float: right;
  padding: 0px 0.55em 0px 0.4em;
  background-color: #36a288;
  color: white;
}

.title {
  margin:auto;
  padding-top: 8em;
}


/*************
* TECH sections *
*************/

.tech_set {
  float:left;
}
.tech_block {
  width: 10em;
  margin-right: 3.75em;
  float: left;
}

.tech_block img {
  margin:auto;
  display: block;
  padding-bottom: 1.56em;
}

.tech_block h3{
  margin: 0 auto;
}

.tech_block p{
  text-align: justify;
}

/* zero right margin for right most tech_block*/
.tech_set:last-child .tech_block:last-child {
    margin-right: 0em;
}

/* zero right margin for 2nd tech_block
because the screen is narrow*/

@media all and (max-width: 450px) {
  .tech_block:last-child {
      margin-right: 0em;
  }
}

/*************
* Students sections *
*************/

.row div {
  float: left;
}

.row img {
}

.profile h1 {
  font-size: 2em;
}

h1.right {
  text-align: right;
}

h1.left {
  text-align: left;
}

.profile-row {
  width:100%;
}

.profile {
  position: relative;
  display: none;
  float: left;
  background: white;
  padding-bottom: 20px;
  border-width:5px;
  border-color:  #f7e753;
  margin: 10px;
  width:50em;
}

.portrait {
  background-color: #f7e753;
  padding: 20px;
  margin: 10px;
}

a.personal_website {
  text-decoration: none;
  color: #f24738;
}
a.personal_website:hover{
  text-decoration: underline;
  color: #f24738;
}

/*************
* PROJECTS section *
*************/

#featured_projects_title{
  float: left;
  width: 100%;
  padding-top: 8em;
}

.project_description{
  font-style: italic;
  min-height: 80px;
  margin: 0.5em 1.7em;
}

.project_block {
  display: inline-block;
  background: #f7e753;
  margin: 0 2em 2em 0;
  height: 19em;
  width: 15.5em;
  padding-right: 0;
}

.project_block h3,
.project_block_last h3{
<<<<<<< HEAD
  margin:0em 0 0.5em;
=======
  margin:0;
  text-align: center;
>>>>>>> 6433e6186746cc2dcae619ef7559ba2c99e18e2b
}

.project_block h4,
.project_block_last h4{
  text-transform: none;
  font-size: 13px;
  margin: 0 0.9em;
  margin-left: 1.7em;
}

.project_block_last {
  display: inline-block;
  margin-right: 0 0 2em 0;
  float: left;
  background: #f7e753;
  height: 19em;
  width: 15.5em;
  padding-right: 0;
}

img.project_image {
  max-width: 13.5em;
  margin: 1em;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 5px 0.5px black;
  margin-bottom: 0.5em;
}

/*************
* INSTRUCTORS section *
*************/
#instructors h1,
#instructors h2{
  letter-spacing: 0px;
}
#instructors p, #instructors h3{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
#instructors h3{
  font-size: 1.25em
}

#instructors p{
  padding:0 15px;
  text-align: justify
}
#instructors #details>div>div{
  padding: 0;
  margin: 0;
  float: left;
  background-color: #36a288;
  min-height: 230px;
  color: white;
}

/*************
* FOOTER section *
*************/

.footer {
  background-color: #f7e753;
  padding: 1em 0;
}

.footer_elements {
  width: 51.25em;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.ga_logo {
  display: inline-block;
  margin-right: 2em;
}

img.logo_image {
  max-height: 5em;
}

.credits {
  display: inline-block;
  vertical-align: middle;
}
.credits h4 {
  margin-bottom: 0;
  font-size: .875em;
}
.credits p {
  font-size: .75em;
  margin-top: .4em;
}
